.tile {
  aspect-ratio: 1;
  background: white;
  border: 0.5px solid #ddd;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.tile:active {
  background: #d2d2d2;
}

.tile:focus {
  border-color: black;
}
